/** FONTS **/


// @import 'https://fonts.googleapis.com/css?family=Roboto';

@font-face {
	font-family: 'Arts';
	src:  url('../assets/fonts/P22 Arts and Crafts Hunter.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Abolition';
	src:  url('#{$assetsURL}/fonts/abolition/AbolitionW00-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$assetsURL}/fonts/abolition/AbolitionW00-Regular.otf')  format('opentype'),
		url('#{$assetsURL}/fonts/abolition/AbolitionW00-Regular.woff') format('woff'),
		url('#{$assetsURL}/fonts/abolition/AbolitionW00-Regular.ttf')  format('truetype'),
		url('#{$assetsURL}/fonts/abolition/AbolitionW00-Regular.svg#AbolitionW00-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DrukWideBold';
	src:  url('#{$assetsURL}/fonts/druk/DrukWide-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$assetsURL}/fonts/druk/DrukWide-Bold.otf')  format('opentype'),
		url('#{$assetsURL}/fonts/druk/DrukWide-Bold.woff') format('woff'),
		url('#{$assetsURL}/fonts/druk/DrukWide-Bold.ttf')  format('truetype'),
		url('#{$assetsURL}/fonts/druk/DrukWide-Bold.svg#DrukWide-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}