/** PLACEHOLDERS **/


// WIDTH
%width100 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

%paddingLimit {
    padding-left: $paddingGeneral;
    padding-right: $paddingGeneral;
    @include mq {
        padding-left: $paddingGeneralMob;
        padding-right: $paddingGeneralMob;
    }
}

%widthLimit {
    @extend %width100;
    max-width: $widthLimit;
    @extend %paddingLimit;
}


// PSEUDO ELEMENTS
%pseudoEl {
    @include flex;
    @extend %width100;
    content: '';
}


// TEXT
%title {
    font-size: toRem(24);
    @include mq {
        font-size: toRem(22);
    }
}

%text {
    font-size: toRem(16);
    @include mq {
        font-size: toRem(15);
    }
}

// HIDE INPUTS TYPE CHECKBOX AND RADIO
%hideCheckbox {
	display: block;
    @include square(1);
    opacity: 0;
    position: absolute;
}


// CENTER POSITION
%centerPos {
	margin: auto;
	top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


// IMAGE COVER
%imgCover {
    @extend %width100;
    height: 100%;
    object-fit: cover;
}


// IMAGE CONTAIN
%imgContain {
    @extend %width100;
    height: 100%;
    object-fit: contain;
}