/** HEADER **/


// HEADER
.header {
    @extend %width100;
    &__container {
        @include flex(centerY);
        @extend %widthLimit;
        height: auto;
    }
}


// LOGO
.logo {
	display: inline-block;
	@extend %width100;
	max-width: 150px;
	line-height: 0;
	&__img {
		@extend %width100;
		height: auto;
	}
}